//Color Variables//

$textBlue: #3A68B8;
$contentBG: linear-gradient(180deg, rgba(255, 255, 255, 0.2) -41.9%, rgba(255, 255, 255, 0.4) 260.24%);
$textWhite: #FFFFFF;
$buttonBG: #3A68B8;
$secondBG: rgb(8, 14, 26);
