.l-contentText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

//INNER-PAGE ---------------------------------------------------//

.b-contentText.-innerPage__content {
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  gap: 80px;
  width: 100%;
  max-width: 1010px;
  padding: 74px 20px;
  box-sizing: border-box;

  @media only screen and (min-width: 0px) and (max-width: 768px){
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    gap: 40px;
  }
}

.b-contentText__images {
  align-self: flex-start;
  padding-top: 8px;

  @media only screen and (min-width: 0px) and (max-width: 768px){
    align-self: center;
  }
}

.b-contentText__title {
  font-family: $Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  text-transform: uppercase;
  color: #1A1A1A;
  margin: 0;

  @media only screen and (min-width: 0px) and (max-width: 1070px){
    text-align: center;
  }

  @media only screen and (min-width: 0px) and (max-width: 576px){
    font-size: 24px;
    line-height: 30px;
  }

  @media only screen and (min-width: 0px) and (max-width: 340px){
    font-size: 18px;
  }
}

.b-contentText__title.-blueBorder {
  padding-bottom: 13px;

  @media only screen and (min-width: 0px) and (max-width: 576px){
    padding-bottom: 8px;
  }

  @media only screen and (min-width: 0px) and (max-width: 340px){
    padding-bottom: 0;
  }
}

.b-contentText__text {
  margin: 30px 0;
  font-family: $Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #515050;

  @media only screen and (min-width: 0px) and (max-width: 576px){
    font-size: 16px;
    line-height: 25px;
    margin: 15px 0;
  }

  @media only screen and (min-width: 0px) and (max-width: 340px){
    font-size: 12px;
    line-height: 25px;
  }
}

.b-contentText__list {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

.b-contentText__listRow {
  font-family: $Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 46px;
  color: #515050;

  @media only screen and (min-width: 0px) and (max-width: 576px){
    font-size: 16px;
    line-height: 35px;
  }

  @media only screen and (min-width: 0px) and (max-width: 340px){
    font-size: 12px;
    line-height: 25px;
  }
}
