.l-contentCategories {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.b-contentCategories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  max-width: 1210px;
  box-sizing: border-box;
  padding: 80px 20px;

  @media only screen and (min-width: 0px) and (max-width: 810px){
    padding: 50px 20px;
  }

  @media only screen and (min-width: 0px) and (max-width: 340px){
    padding: 25px 20px;
  }
}

.b-contentCategories__link {
  width: 218px;
  height: 80px;
  display: flex;
  align-items: center;
  font-size: 21px;
  font-family: $Inter;
  font-weight: 500;
  color: #27272E;
  background: #F2FAFE;
  border: 1px solid #18B0B6;
  box-sizing: border-box;
  border-radius: 5px;
  text-decoration: none;
  overflow: auto;

  @media only screen and (min-width: 0px) and (max-width: 576px){
    font-size: 18px;
  }

  @media screen and (max-width: 495px) {
    width: 100%;
  }

  @media only screen and (min-width: 0px) and (max-width: 340px){
    font-size: 14px;
  }

  &:hover {
    background: linear-gradient(180deg, #AF68C2 0%, #89429C 100%);
    color: #fff;
    cursor: pointer;
    border: 1px solid #803c91;
    &:nth-child(2) {
      &::before {
        background-blend-mode: difference;
      }
    }
  }
  &:nth-child(1) {
    &::before {
      content: "";
      background: url('../../../../assets/img/userfiles/contentCategoriesIcons/Grundlagen.svg'), linear-gradient(180deg, #31CDD1 0%, #169EA4 100%);
      width: 100%;
      max-width: 28px;
      aspect-ratio: 1/1;
      margin: 0 10px 0 25px;
    }
  }
  &:nth-child(2) {
    &::before {
      content: "";
      background-image: url('../../../../assets/img/userfiles/contentCategoriesIcons/Gesellschaft.svg');
      width: 100%;
      max-width: 28px;
      aspect-ratio: 1/1;
      margin: 0 10px 0 25px;
    }
  }
  &:nth-child(3) {
    &::before {
      content: "";
      background-image: url('../../../../assets/img/userfiles/contentCategoriesIcons/Sprachen.svg');
      width: 100%;
      max-width: 28px;
      aspect-ratio: 1/1;
      margin: 0 10px 0 25px;
    }
  }
  &:nth-child(4) {
    &::before {
      content: "";
      background-image: url('../../../../assets/img/userfiles/contentCategoriesIcons/Gestalten.svg');
      width: 100%;
      max-width: 28px;
      aspect-ratio: 1/1;
      margin: 0 10px 0 25px;
    }
  }
  &:nth-child(5) {
    &::before {
      content: "";
      background-image: url('../../../../assets/img/userfiles/contentCategoriesIcons/Beruf.svg');
      width: 100%;
      max-width: 28px;
      aspect-ratio: 1/1;
      margin: 0 10px 0 25px;
    }
  }
  &:nth-child(6) {
    &::before {
      content: "";
      background-image: url('../../../../assets/img/userfiles/contentCategoriesIcons/Kultur.svg');
      width: 100%;
      max-width: 28px;
      aspect-ratio: 1/1;
      margin: 0 10px 0 25px;
    }
  }
  &:nth-child(7) {
    &::before {
      content: "";
      background-image: url('../../../../assets/img/userfiles/contentCategoriesIcons/Gemeinschaft.svg');
      width: 100%;
      max-width: 28px;
      aspect-ratio: 1/1;
      margin: 0 8px 0 25px;
    }
  }
  &:nth-child(8) {
    &::before {
      content: "";
      background-image: url('../../../../assets/img/userfiles/contentCategoriesIcons/Natur.svg');
      width: 100%;
      max-width: 28px;
      aspect-ratio: 1/1;
      margin: 0 10px 0 25px;
    }
  }
  &:nth-child(9) {
    &::before {
      content: "";
      background-image: url('../../../../assets/img/userfiles/contentCategoriesIcons/Gesundheit.svg');
      width: 100%;
      max-width: 28px;
      aspect-ratio: 1/1;
      margin: 0 10px 0 25px;
    }
  }
  &:nth-child(10) {
    &::before {
      content: "";
      background-image: url('../../../../assets/img/userfiles/contentCategoriesIcons/Technik.svg');
      width: 100%;
      max-width: 28px;
      aspect-ratio: 1/1;
      margin: 0 10px 0 25px;
    }
  }
}
