.l-contentText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.l-firstScreen {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.b-firstScreen {
  padding-top: 155px;
  width: 100%;
  max-width: 1170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.l-firstScreenArticles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 87px;
  height: 100%;
  max-height: 125px;
}

.b-firstScreenArticle {
  color: #fff;
  font-size: 30px;
  line-height: 42px;
  margin: 0px;
  text-align: start;
  font-family: $Inter;
  font-weight: 700;
  &:last-child {
    margin-left: 83px;
  }
}

.l-firstScreenForm {
  width: 100%;
  max-width: 770px;
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.b-firstScreenFormInput {
  font-size: 18px;
  width: 100%;
  margin-right: 20px;
  border: 0px;
  border-radius: 5px;
  padding: 14px 21px;
  font-family: $Inter;
  font-weight: 400;
  &::placeholder {
    color: #B5B8B9;
  }
  &:focus {
    outline: none;
  }
}

.b-firstScreenFormButton {
  width: 135px;
  padding: 13px 27px 13px 31px;
  border: 0px;
  border-radius: 5px;
  background: linear-gradient(180deg, #1CD2D6 0%, #18B0B6 100%);
  box-shadow: 0px 2px 15px rgba(60, 60, 60, 0.393284);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #fff;
  font-family: $Inter;
  font-weight: 700;
  &:hover {
    cursor: pointer;
  }
}

.b-contentText {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.l-contentCategories {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  max-width: 1170px;
}

.b-contentCategoriesButton {
  width: 218px;
  height: 80px;
  display: flex;
  align-items: center;
  font-size: 21px;
  font-family: $Inter;
  font-weight: 500;
  color: #27272E;
  background: #F2FAFE;
  border: 1px solid #18B0B6;
  box-sizing: border-box;
  border-radius: 5px;
  &:hover {
    background: linear-gradient(180deg, #AF68C2 0%, #89429C 100%);
    color: #fff;
    cursor: pointer;
    border: 1px solid #803c91;
    &:nth-child(2) {
      &::before {
        background-blend-mode: difference;
      }
    }
  }
  &:nth-child(1) {
    &::before {
      content: "";
      background: url('../../../../assets/img/userfiles/contentCategoriesIcons/Grundlagen.svg'), linear-gradient(180deg, #31CDD1 0%, #169EA4 100%);
      width: 100%;
      max-width: 28px;
      aspect-ratio: 1/1;
      margin: 0px 10px 0px 25px;
    }
  }
  &:nth-child(2) {
    &::before {
      content: "";
      background-image: url('../../../../assets/img/userfiles/contentCategoriesIcons/Gesellschaft.svg');
      width: 100%;
      max-width: 28px;
      aspect-ratio: 1/1;
      margin: 0px 10px 0px 25px;
    }
  }
  &:nth-child(3) {
    &::before {
      content: "";
      background-image: url('../../../../assets/img/userfiles/contentCategoriesIcons/Sprachen.svg');
      width: 100%;
      max-width: 28px;
      aspect-ratio: 1/1;
      margin: 0px 10px 0px 25px;
    }
  }
  &:nth-child(4) {
    &::before {
      content: "";
      background-image: url('../../../../assets/img/userfiles/contentCategoriesIcons/Gestalten.svg');
      width: 100%;
      max-width: 28px;
      aspect-ratio: 1/1;
      margin: 0px 10px 0px 25px;
    }
  }
  &:nth-child(5) {
    &::before {
      content: "";
      background-image: url('../../../../assets/img/userfiles/contentCategoriesIcons/Beruf.svg');
      width: 100%;
      max-width: 28px;
      aspect-ratio: 1/1;
      margin: 0px 10px 0px 25px;
    }
  }
  &:nth-child(6) {
    &::before {
      content: "";
      background-image: url('../../../../assets/img/userfiles/contentCategoriesIcons/Kultur.svg');
      width: 100%;
      max-width: 28px;
      aspect-ratio: 1/1;
      margin: 0px 10px 0px 25px;
    }
  }
  &:nth-child(7) {
    &::before {
      content: "";
      background-image: url('../../../../assets/img/userfiles/contentCategoriesIcons/Gemeinschaft.svg');
      width: 100%;
      max-width: 28px;
      aspect-ratio: 1/1;
      margin: 0px 8px 0px 25px;
    }
  }
  &:nth-child(8) {
    &::before {
      content: "";
      background-image: url('../../../../assets/img/userfiles/contentCategoriesIcons/Natur.svg');
      width: 100%;
      max-width: 28px;
      aspect-ratio: 1/1;
      margin: 0px 10px 0px 25px;
    }
  }
  &:nth-child(9) {
    &::before {
      content: "";
      background-image: url('../../../../assets/img/userfiles/contentCategoriesIcons/Gesundheit.svg');
      width: 100%;
      max-width: 28px;
      aspect-ratio: 1/1;
      margin: 0px 10px 0px 25px;
    }
  }
  &:nth-child(10) {
    &::before {
      content: "";
      background-image: url('../../../../assets/img/userfiles/contentCategoriesIcons/Technik.svg');
      width: 100%;
      max-width: 28px;
      aspect-ratio: 1/1;
      margin: 0px 10px 0px 25px;
    }
  }
}

.l-contentNews {
  width: 100%;
  background: #F6F8FC;
  margin-top: 90px;
  display: flex;
  justify-content: center;
}

.b-contentNews {
  width: 100%;
  max-width: 1170px;
  justify-content: space-between;
  padding: 90px 0px 90px 0px;
  box-sizing: border-box;
  display: flex;
}

.b-contentNewsTitle {
  font-size: 32px;
  font-family: $Inter;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 42px;
  color: #343434;
  margin-bottom: 40px;
}

.l-contentNewsLeft {
  width: 100%;
  max-width: 550px;
  .b-contentNewsTitle {
    padding-bottom: 20px;
    border-bottom: 3px solid #18B0B6;
  }
}

.l-contentNewsBlock {
  margin-bottom: 20px;
  display: block;
  text-decoration: none;
  transition: all .3s ease;

  &:hover {
    box-shadow: 0px 5px 15px 3px #aaaaaa;
    transition: all .3s ease;
  }
}

.b-contentNewsBlock {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;

  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(214, 214, 214, 0.3);
  border-radius: 7px;
  .b-contentNewsDate {
    font-family: $Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #8C569C;
  }
  h3 {
    font-family: $Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #262626;
    margin: 5px 0px 17px 0px;
    width: 100%;
    max-width: 508px;
    text-align: left;
  }
  p {
    font-family: $Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #262626;
    margin: 0px 0px 17px 0px;
    width: 100%;
    max-width: 210px;
    text-align: left;
    &:last-child {
      margin: 0px;
      width: 100%;
      max-width: 480px;
      text-align: left;
    }
  }
  &:last-child {
    margin-bottom: 0px;
  }
}

.l-contentNewsRight {
  width: 100%;
  max-width: 555px;
  .b-contentNewsTitle {
    padding-bottom: 20px;
    border-bottom: 3px solid #964EA9;
  }
}

.l-contentNewsRightTitleAndDate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h3 {
    margin: 25px 0px 13px 0px;
    font-family: $Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #262626;
  }
  .b-contentNewsDate {
    font-family: $Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #8C569C;
  }
}

//INNERPAGE ---------------------------------------------------//

.l-contentTop {
  background: #F6F8FC;
  display: flex;
  width: 1440px;
}