.l-contentCategories {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.b-contentCategories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  max-width: 1210px;
  box-sizing: border-box;
  padding: 80px 20px;

  @media only screen and (min-width: 0px) and (max-width: 810px){
    padding: 50px 20px;
  }

  @media only screen and (min-width: 0px) and (max-width: 340px){
    padding: 25px 20px;
  }
}

.b-contentCategories__link {
  width: 218px;
  height: 80px;
  display: flex;
  align-items: center;
  font-size: 21px;
  font-family: $Inter;
  font-weight: 500;
  color: #27272E;
  background: #F2FAFE;
  border: 1px solid #18B0B6;
  box-sizing: border-box;
  border-radius: 5px;
  text-decoration: none;
  overflow: auto;

  @media only screen and (min-width: 0px) and (max-width: 576px){
    font-size: 18px;
  }

  @media screen and (max-width: 495px) {
    width: 100%;
  }

  @media only screen and (min-width: 0px) and (max-width: 340px){
    font-size: 14px;
  }

  &:hover {
    background: linear-gradient(180deg, #AF68C2 0%, #89429C 100%);
    color: #fff;
    cursor: pointer;
    border: 1px solid #803c91;

    .b-contentCategories__linkImg {
      opacity: 0;

      &.-active {
        opacity: 1;
      }
    }
  }

  &Img {
    width: 100%;
    max-width: 28px;
    aspect-ratio: 1/1;
    margin: 0 10px 0 25px;

    &.-active {
      position: absolute;
      opacity: 0;
    }
  }
}
