.l-contentText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.l-firstScreen {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.b-firstScreen {
  padding: 155px 20px 0 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: 1210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.-innerPage {
  padding: 270px 20px 0 20px;
}

.l-firstScreen__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 87px;
  gap: 83px;
  flex-direction: row;

  @media only screen and (min-width: 0px) and (max-width: 1070px){
    flex-direction: column;
  }
}

.b-firstScreen__article {
  color: #fff;
  font-size: 30px;
  line-height: 42px;
  margin: 0;
  text-align: start;
  font-family: $Inter;
  font-weight: 700;

  @media only screen and (min-width: 0px) and (max-width: 1070px){
    text-align: center;
  }
}

.b-searchForm {
  width: 100%;
  max-width: 810px;
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 85px;
  box-sizing: border-box;
  padding: 0 20px;

  @media only screen and (min-width: 0px) and (max-width: 810px){
    flex-direction: column;
    gap: 20px;
  }
}

.b-searchForm__label {
  width: 100%;
  margin-right: 20px;
  display: block;

  @media only screen and (min-width: 0px) and (max-width: 810px){
    margin-right: 0;
  }
}

.b-searchForm__input {
  font-size: 18px;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-radius: 5px;
  padding: 0 21px;
  height: 48px;
  font-family: $Inter;
  font-weight: 400;
  &::placeholder {
    color: #B5B8B9;
  }
  &:focus {
    outline: none;
  }
}

.b-searchForm__button {
  padding: 13px 27px 13px 31px;
  border: 0;
  border-radius: 5px;
  background: linear-gradient(180deg, #1CD2D6 0%, #18B0B6 100%);
  box-shadow: 0 2px 15px rgba(60, 60, 60, 0.393284);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #fff;
  font-family: $Inter;
  &:hover {
    cursor: pointer;
  }

  @media only screen and (min-width: 0px) and (max-width: 810px){
    width: 100%;
  }
}

.b-contentText {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.l-contentCategories {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.b-contentCategories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  max-width: 1210px;
  box-sizing: border-box;
  padding: 80px 20px;
}

.b-contentCategories__link {
  width: 218px;
  height: 80px;
  display: flex;
  align-items: center;
  font-size: 21px;
  font-family: $Inter;
  font-weight: 500;
  color: #27272E;
  background: #F2FAFE;
  border: 1px solid #18B0B6;
  box-sizing: border-box;
  border-radius: 5px;
  text-decoration: none;
  &:hover {
    background: linear-gradient(180deg, #AF68C2 0%, #89429C 100%);
    color: #fff;
    cursor: pointer;
    border: 1px solid #803c91;
    &:nth-child(2) {
      &::before {
        background-blend-mode: difference;
      }
    }
  }
  &:nth-child(1) {
    &::before {
      content: "";
      background: url('../../../../assets/img/userfiles/contentCategoriesIcons/Grundlagen.svg'), linear-gradient(180deg, #31CDD1 0%, #169EA4 100%);
      width: 100%;
      max-width: 28px;
      aspect-ratio: 1/1;
      margin: 0 10px 0 25px;
    }
  }
  &:nth-child(2) {
    &::before {
      content: "";
      background-image: url('../../../../assets/img/userfiles/contentCategoriesIcons/Gesellschaft.svg');
      width: 100%;
      max-width: 28px;
      aspect-ratio: 1/1;
      margin: 0 10px 0 25px;
    }
  }
  &:nth-child(3) {
    &::before {
      content: "";
      background-image: url('../../../../assets/img/userfiles/contentCategoriesIcons/Sprachen.svg');
      width: 100%;
      max-width: 28px;
      aspect-ratio: 1/1;
      margin: 0 10px 0 25px;
    }
  }
  &:nth-child(4) {
    &::before {
      content: "";
      background-image: url('../../../../assets/img/userfiles/contentCategoriesIcons/Gestalten.svg');
      width: 100%;
      max-width: 28px;
      aspect-ratio: 1/1;
      margin: 0 10px 0 25px;
    }
  }
  &:nth-child(5) {
    &::before {
      content: "";
      background-image: url('../../../../assets/img/userfiles/contentCategoriesIcons/Beruf.svg');
      width: 100%;
      max-width: 28px;
      aspect-ratio: 1/1;
      margin: 0 10px 0 25px;
    }
  }
  &:nth-child(6) {
    &::before {
      content: "";
      background-image: url('../../../../assets/img/userfiles/contentCategoriesIcons/Kultur.svg');
      width: 100%;
      max-width: 28px;
      aspect-ratio: 1/1;
      margin: 0 10px 0 25px;
    }
  }
  &:nth-child(7) {
    &::before {
      content: "";
      background-image: url('../../../../assets/img/userfiles/contentCategoriesIcons/Gemeinschaft.svg');
      width: 100%;
      max-width: 28px;
      aspect-ratio: 1/1;
      margin: 0 8px 0 25px;
    }
  }
  &:nth-child(8) {
    &::before {
      content: "";
      background-image: url('../../../../assets/img/userfiles/contentCategoriesIcons/Natur.svg');
      width: 100%;
      max-width: 28px;
      aspect-ratio: 1/1;
      margin: 0 10px 0 25px;
    }
  }
  &:nth-child(9) {
    &::before {
      content: "";
      background-image: url('../../../../assets/img/userfiles/contentCategoriesIcons/Gesundheit.svg');
      width: 100%;
      max-width: 28px;
      aspect-ratio: 1/1;
      margin: 0 10px 0 25px;
    }
  }
  &:nth-child(10) {
    &::before {
      content: "";
      background-image: url('../../../../assets/img/userfiles/contentCategoriesIcons/Technik.svg');
      width: 100%;
      max-width: 28px;
      aspect-ratio: 1/1;
      margin: 0 10px 0 25px;
    }
  }
}

.l-contentNews {
  width: 100%;
  background: #F6F8FC;
  display: flex;
  justify-content: center;
}

.b-contentNews {
  width: 100%;
  max-width: 1210px;
  justify-content: space-between;
  padding: 90px 20px 90px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 20px;

  @media only screen and (min-width: 0px) and (max-width: 1110px){
    flex-direction: column;
    align-items: center;
  }
}

.b-contentNews__title {
  font-size: 32px;
  font-family: $Inter;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 42px;
  color: #343434;
  margin-bottom: 40px;

  @media only screen and (min-width: 0px) and (max-width: 565px){
    font-size: 28px;
  }

  @media only screen and (min-width: 0px) and (max-width: 500px){
    font-size: 24px;
  }
}

.b-contentNews__block {
  width: 100%;
  max-width: 550px;

  .b-articleCard__img {
    width: 100%;
    max-width: 515px;
  }

  @media only screen and (min-width: 0px) and (max-width: 1110px){
    max-width: none;
  }
}

.-purpleBorder {
  padding-bottom: 20px;
  border-bottom: 3px solid #964EA9;

  @media only screen and (min-width: 0px) and (max-width: 565px){
    padding-bottom: 10px;
  }

  @media only screen and (min-width: 0px) and (max-width: 500px){
    padding-bottom: 0;
  }
}

.-blueBorder {
  padding-bottom: 20px;
  border-bottom: 3px solid #18B0B6;

  @media only screen and (min-width: 0px) and (max-width: 565px){
    padding-bottom: 10px;
  }

  @media only screen and (min-width: 0px) and (max-width: 500px){
    padding-bottom: 0;
  }
}

.b-articleCard {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  display: block;
  text-decoration: none;
  transition: all .3s ease;

  &:hover {
    box-shadow: 0 5px 15px 3px #aaaaaa;
    transition: all .3s ease;
  }

  background: #FFFFFF;
  box-shadow: 0 4px 20px rgba(214, 214, 214, 0.3);
  border-radius: 7px;
  .b-articleCard__date {
    font-family: $Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #8C569C;
  }
  .b-articleCard__title {
    font-family: $Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #262626;
    margin: 5px 0 17px 0;
    width: 100%;
    max-width: 508px;
    text-align: left;
  }

  .b-articleCard__referent {
    font-family: $Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #262626;
    margin: 0 0 17px 0;
    width: 100%;
    max-width: 210px;
    text-align: left;
  }

  .b-articleCard__text {
    font-family: $Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #262626;
    margin: 0;
    width: 100%;
    max-width: 480px;
    text-align: left;
  }
}

.b-articleCard__titleAndDate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .b-titleAndDate__title {
    font-family: $Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #262626;
  }
  .b-titleAndDate__data {
    font-family: $Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #8C569C;
  }
}

//INNER-PAGE ---------------------------------------------------//

.b-contentText.-innerPage__content {
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  gap: 80px;
  width: 100%;
  max-width: 1010px;
  padding: 74px 20px;
  box-sizing: border-box;
}

.b-contentText__images {
  align-self: flex-start;
  padding-top: 8px;
}

.b-contentText__title {
  font-family: $Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  text-transform: uppercase;
  color: #1A1A1A;
  margin: 0;
}

.b-contentText__title.-blueBorder {
  padding-bottom: 13px;
}

.b-contentText__text {
  margin: 30px 0px;
  font-family: $Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #515050;
}

.b-contentText__list {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

.b-contentText__listRow {
  font-family: $Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 46px;
  color: #515050;
}

.l-contentInfo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  background: #F6F8FC;
  margin: 0;
  padding: 0;
}

.b-contentInfo {
  width: 100%;
  max-width: 1010px;
  box-sizing: border-box;
  padding: 80px 0 80px 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;

  &__tableWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background: #FFFFFF;
    box-shadow: 0px 6px 20px rgba(214, 214, 214, 0.284167);
    border-radius: 7px;
    box-sizing: border-box;
    width: 100%;
    max-width: 732px;
  }
}

.b-contentInfo__table {
  width: 100%;
  border-collapse: collapse;
}

.b-tableBlock__row {
  .b-tableBlock__column {
    padding: 30px 25px 0 0;
    border-right: 1px solid #DEE5EC;
    text-align: center;

    &:first-child {
      text-align: left;
    }
  }

  &:first-child {
    .b-tableBlock__column {
      padding: 0 25px 0 35px;
      border-right: 1px solid #DEE5EC;
      border-bottom: 1px solid #DEE5EC;
      text-align: center;

      &:first-child {
        padding-left: 0px;
        text-align: left;
      }

      &:last-child {
        padding-right: 0px;
        border: 0;
      }
    }
  }
}

.b-tableBlock__title {
  font-family: $Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #18B0B6;
  padding: 0;
  margin: 0 0 10px 0;
}

.b-tableBlock__text {
  font-family: $Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #262626;
  padding: 0;
  margin: 0 0 10px 0;
}

.b-contentInfo__buttons {
  display: flex;
  margin-top: 45px;
  gap: 15px;
  padding: 0;
}

.b-contentInfo__button {
  padding: 13px 27px 13px 31px;
  border: 0;
  background: linear-gradient(180deg, #AE67C1 0%, #89429C 100%);
  box-shadow: 0px 2px 8px rgba(153, 160, 172, 0.863432);
  border-radius: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #fff;
  font-family: $Inter;
  &:hover {
    cursor: pointer;
  }
}
