.l-contentServices {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #292E36;
  padding: 0;
}

.b-contentServices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  box-sizing: border-box;
  padding: 140px 20px;

  @media screen and (max-width: 1330px) {
    flex-direction: column;
    gap: 50px;
  }

  &__textSide {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;

    @media screen and (max-width: 1330px) {
      align-items: center;
    }
  }

  &__textSideTitle {
    font-family: $Josefin;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-top: 1px solid #E1B168;
    border-bottom: 1px solid #E1B168;
    margin: 0 0 10px 0;
    padding: 5px 0 0 0;
    height: fit-content;
    width: fit-content;
  }

  &__textSideSubtitle {
    font-family: $Cormorant;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    color: #FFFFFF;
    padding: 0;
    margin: 0 0 13px 0;
  }

  &__textSideText {
    width: 100%;
    max-width: 438px;
    font-family: $Josefin;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
    @media screen and (max-width: 1330px) {
      text-align: center;
    }
  }

  &__imageSide {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    width: 100%;
    height: 100%;

    @media screen and (max-width: 1330px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__imageSideBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 234px;
    aspect-ratio: 1/1;
    border: 20px solid #323841;
  }

  &__imageSideBlockImage {
    display: block;
    width: 100%;
    max-width: 60px;
    height: 100%;
    max-height: 60px;
    padding: 0;
    margin: 0 0 15px 0;
  }

  &__imageSideBlockText {
    font-family: $Cormorant;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
  }
}
