.l-contentInfo {
  display: flex;
  width: 100%;
  background: #FFF8F5;
  justify-content: center;
  align-items: center;
}

.b-contentInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;
  width: 100%;
  max-width: 1400px;
  gap: 20px;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    align-items: flex-start;
  }

  @media screen and (max-width: 380px) {
    align-items: center;
  }
}

.b-contentInfo__block {
  width: calc(100% - 83px - 20px);
  display: flex;
  margin: 0;
  padding: 100px 0 60px 0;

  @media screen and (max-width: 380px) {
    flex-direction: column;
    align-items: center;
  }


  &Img {
    width: 100%;
    max-width: 83px;
    max-height: 83px;
    aspect-ratio: 1/1;
    margin-right: 20px;
  }
}

.b-infoBlock__title {
  padding: 0;
  margin: 0 0 5px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 39px;
  letter-spacing: 0.2px;
  font-family: $Cormorant;
  color: #292E36;

  @media screen and (max-width: 380px) {
    text-align: center;
  }
}

.b-infoBlock__text {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  font-family: $Josefin;
  letter-spacing: 0.2px;
  color: #555555;

  @media screen and (max-width: 380px) {
    text-align: center;
  }
}
