.l-contentGreeting {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #292E36;
}

.b-contentGreeting {
  width: 100%;
  max-width: 1400px;
  box-sizing: border-box;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    gap: 50px;
  }
}

.b-contentGreetingText {
  display: flex;
  flex-direction: column;
  width: 50%;

  @media screen and (max-width: 1024px) {
    align-items: center;
  }
}

.b-contentGreetingText__title {
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 110px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  font-family: $Cormorant;
  margin: 0 0 25px 0;

  @media screen and (max-width: 1024px) {
    font-size: 70px;
    text-align: center;
  }
}

.b-contentGreetingText__text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  font-family: $Josefin;
  margin: 0 0 35px 0;
  width: 100%;
  max-width: 616px;

  @media screen and (max-width: 1024px) {
    font-size: 14px;
    text-align: center;
  }
}

.b-contentGreetingText__button {
  width: max-content;
  border: 2px solid #E1B168;
  background: #292E36;
  padding: 20px 57px;
  margin: 0;
  font-size: 22px;
  color: #E1B168;
  transition: all .3s ease;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.2px;
  font-family: $Josefin;

  &:hover {
    background: #E1B168;
    color: #292E36;
    transition: all .3s ease;
    cursor: pointer;
  }
}

.b-contentGreetingImg {
  padding: 70px 40px 0 0;
  box-sizing: border-box;
  width: 50%;

  &__img {
    width: 100%;
    max-width: 595px;
    height: 100%;
    max-height: 740px;
    object-fit: cover;
  }

  @media screen and (max-width: 1024px) {
    padding: 0;
  }
}
