.l-contentOffers {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #FFFFFF;
}

.b-contentOffers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  box-sizing: border-box;
  padding: 145px 20px 60px 20px;

  @media screen and (max-width: 768px) {
    padding: 50px 20px;
  }

  &__title {
    font-family: $Josefin;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #292E36;
    border-top: 1px solid #E1B168;
    border-bottom: 1px solid #E1B168;
    margin: 0 0 12px 0;
    padding: 5px 0 0 0;
    height: fit-content;
    width: fit-content;
  }

  &__subtitle {
    font-family: $Cormorant;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    color: #292E36;
    padding: 0;
    margin: 0 0 8px 0;

    @media screen and (max-width: 768px) {
      font-size: 32px;
      line-height: 32px;
    }
  }

  &__text {
    width: 100%;
    max-width: 813px;
    font-family: $Josefin;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #555555;
    padding: 0;
    margin: 0 0 40px 0;

    @media screen and (max-width: 768px) {
      font-size: 16px;
      line-height: 20px;
      margin: 20px;
    }
  }

  &__dishes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;

    @media screen and (max-width: 1330px) {
      flex-direction: column;
    }
  }

  &__dish {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 665px;
    min-height: 409px;
    box-sizing: border-box;
    padding: 20px 40px;

    @media screen and (max-width: 678px) {
      flex-direction: column;
      padding: 20px;
    }
  }

  &__dishSide {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media screen and (max-width: 678px) {
      align-items: center;
    }
  }

  &__dishPrice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 100px;
    margin: 0 0 70px 0;
    padding: 0 0 0 24px;

    @media screen and (max-width: 678px) {
      margin: 15px 30px 30px 0;
    }

    &.-pizza {
      p {
        font-family: $Josefin;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        text-align: center;
        line-height: 10px;
        letter-spacing: 0.15px;
        text-transform: uppercase;
        color: #FFFFFF;
        z-index: 2;
        padding: 0;
        margin: 0;
      }

      span {
        font-family: $Cormorant;
        font-style: normal;
        font-weight: 400;
        font-size: 60px;
        line-height: 66px;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        z-index: 2;
      }

      &::before {
        content: "";
        background-image: url('../../assets/img/blocks/contentOffers/pizza__priceWrapper.svg');
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        width: 150px;
        height: 95px;
        position: absolute;
        top: -15px;
        left: 0;
      }
    }

    &.-hamburger {
      p {
        font-family: $Josefin;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        text-align: center;
        line-height: 10px;
        letter-spacing: 0.15px;
        text-transform: uppercase;
        color: #292E36;
        z-index: 2;
        padding: 0;
        margin: 0;

        @media screen and (max-width: 768px){

        }
      }

      span {
        font-family: $Cormorant;
        font-style: normal;
        font-weight: 400;
        font-size: 60px;
        line-height: 66px;
        letter-spacing: 0.2px;
        color: #292E36;
        z-index: 2;
      }

      &::before {
        content: "";
        background-image: url('../../assets/img/blocks/contentOffers/hamburger__priceWrapper.svg');
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        width: 150px;
        height: 95px;
        position: absolute;
        top: -15px;
        left: 0;
      }
    }
  }

  &__dishTitle {
    font-family: $Josefin;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    color: #292E36;
    border-top: 1px solid #292E36;
    border-bottom: 1px solid #292E36;
    margin: 0 0 12px 0;
    padding: 5px 0 0 0;
    height: fit-content;
    width: fit-content;
    text-align: center;
  }

  &__dishSubtitle {
    font-family: $Cormorant;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.2px;
    color: #292E36;
    margin: 0;
    padding: 0;

    @media screen and (max-width: 768px) {
      font-size: 28px;
      line-height: 34px;
    }

    @media screen and (max-width: 678px) {
      text-align: center;
    }
  }

  &__dishText {
    font-family: $Josefin;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #555555;
    margin: 0;
    padding: 0;

    @media screen and (max-width: 768px) {
      font-size: 16px;
      line-height: 18px;
    }

    @media screen and (max-width: 678px) {
      text-align: center;
    }
  }

  &__dishImage {
    width: 100%;
    max-width: 307px;

    @media screen and (max-width: 678px) {
      margin: 10px 0 0 0;
    }
  }
}
