.l-contentBlog {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #FFFFFF;
}

.b-contentBlog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  box-sizing: border-box;
  padding: 150px 20px;
  margin: 0;

  &__title {
    font-family: $Josefin;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #292E36;
    border-top: 1px solid #E1B168;
    border-bottom: 1px solid #E1B168;
    margin: 0 0 10px 0;
    padding: 5px 0 0 0;
    height: fit-content;
    width: fit-content;
  }

  &__subtitle {
    font-family: $Cormorant;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    color: #292E36;
    padding: 0;
    margin: 0 0 8px 0;

    @media screen and (max-width: 1330px) {
      text-align: center;
    }
  }

  &__text {
    width: 100%;
    max-width: 465px;
    font-family: $Josefin;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #555555;
    padding: 0;
    margin: 0 0 40px 0;
  }

  &__newsBlock {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 30px;

    @media screen and (max-width: 1330px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__news {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 640px;
  }

  &__newsImageWrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.65);
    }
  }

  &__newsImage {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  &__newsButton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #E1B168;
    background: #E1B168;
    padding: 20px;
    width: 100%;
    max-width: 295px;
    font-size: 22px;
    color: #292E36;
    transition: all .3s ease;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.44px;
    font-family: $Josefin;

    &:hover {
      background: #292E36;
      color: #E1B168;
      transition: all .3s ease;
      cursor: pointer;
    }
  }

  &__newsText {
    display: flex;
    flex-direction: column;
    padding: 50px;
    border: 1px solid #C4C4C4;
    border-top: 0;
  }

  &__newsTextTop {
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0 0 25px 0;
  }

  &__newsTextTopTitle {
    font-family: $Josefin;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #292E36;
    border-top: 1px solid #E1B168;
    border-bottom: 1px solid #E1B168;
    margin: 0;
    padding: 5px 0 0 0;
    height: fit-content;
    width: fit-content;
  }

  &__newsTextTopDate {
    font-family: $Josefin;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #292E36;
    border-top: 1px solid #E1B168;
    border-bottom: 1px solid #E1B168;
    margin: 0;
    padding: 5px 0 0 0;
    height: fit-content;
    width: fit-content;
  }

  &__newsTextBottom {
    display: flex;
    flex-direction: column;
  }

  &__newsTextBottomTitle {
    font-family: $Cormorant;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    color: #292E36;
    padding: 0;
    margin: 0 0 25px 0;
  }

  &__newsTextBottomText {
    font-family: $Josefin;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #555555;
    padding: 0;
    margin: 0;
  }
}
