/**
 * @section mainNavigation
 */
.l-mainNavigation {
  clear: both;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.b-mainNavigation {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;

  @media screen and (max-width: 992px) {
    display: none;
  }

  &__item {
    position: relative;
    float: left;
    margin: 0 60px 0 0;
    padding: 0;
    color: #000;

    &:last-child {
      margin-right: 0;
    }

    &.-state_active {

    }
  }

  &__link {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-decoration: none;
    transition: all .3s ease;
    font-family: $Josefin;

    &:hover {
      color: #E1B168;
      transform: rotate(-5deg);
      transition: all .3s ease;
    }
  }
}

.b-navigationSocial {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    position: relative;
    float: left;
    margin: 0 20px 0 0;
    padding: 0;
    color: #000;

    &:last-child {
      margin: 0;
    }

    &.-state_active {

    }
  }

  &__link {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-decoration: none;
  }
}

.hamburger {
  display: none;

  @media screen and (max-width: 992px) {
    display: flex;
    gap: 10px;
  }

  &__text {
    font-family: $Josefin;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
  }
}

.b-mainNavigation.-state-open {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(180deg, #292E36 0%, #3e444d 100%);
  transition: all .3s ease-in;
}
